**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
